@font-face {
  font-family: 'Roboto', monospace;
       url(Roboto-Regular.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

#mainNav {
  height:60px;
  font-size:16px;
  /* background-image: linear-gradient(to right, #f0f2ff, #e8f6ff); */
  background: #F5F8FF;
  color: #3d4556;
  /* text-transform:uppercase; */
  /* border-bottom: 3px solid; */
  /* border-image: linear-gradient(to right, #0085ff, #01e1f8) 1; */
}

a {
  text-decoration:none!important;
  color: #8906e0;
}

footer{
  /* bottom: 0; */
  width: 100%;
  background: #9806f9;
  color: #ffffff;
}

.card {
  margin-top: 15px;
}
